<div class="product-detail thumbnail">
  <p>
    <img src="https://via.placeholder.com/840x320" alt="商品详情图片"><br>
  </p>
  <p class="pull-right">{{product?.price}}元</p>
  <h4 class="title">{{product?.title}}</h4>
  <p>{{product?.desc}}</p>
  <p class="comment-overview">
    <span class="pull-right">{{comments?.length}}人评论</span>
    <app-stars [rating]="product?.rating"></app-stars>
  </p>
</div>

<div class="thumbnail">
  <button class="btn btn-default btn-lg" [class.active]="isWatched" (click)="toggleWatch()">
    {{isWatched? '取消关注' : '关注'}}
  </button>
  <span class="latest-bid">最新出价：{{latestBid | number: '.2-2'}}元</span>
</div>

<div class="product-comments well">
  <div class="add-comment">
    <button class="btn btn-success" (click)="isHideNewComment = !isHideNewComment;">评论</button>
    <div class="new-comment" [hidden]="isHideNewComment">
      <app-stars [(rating)]="newRating" isClickable="true"></app-stars>
      <textarea cols="30" rows="10" [(ngModel)]="newComment"></textarea><br>
      <button class="btn btn-info" (click)="submitComment($event)">提交</button>
    </div>
  </div>
  <div *ngFor="let comment of comments">
    <hr>
    <app-stars [rating]="comment.rating"></app-stars>
    <span class="pull-right">{{comment.timeStamp}}</span>
    <span class="user">{{comment.user}}</span>
    <p class="content">{{comment.content}}</p>
  </div>
</div>